*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: baseline;
}

body {
    text-align: center;
    color: #008C94;
    font-family: 'Oxygen', sans-serif;

}

header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url("imagenes/banner.jpg");
    width: 100%;
    height: 50em;
    padding-top: 5em;
}

#logo {
    justify-self: center;
    width: 20em;
}
h1 {
    justify-self: center;
    font-size: 10em;
    color: white;
}
button {
    margin-top: 4em;
    justify-self: center;
    border-radius: 2em;
    width: 10em;
    height: 4em;
    background-color: #008C94;
    font-size: 1.4em;
}

a {
    font-family: 'Oxygen', sans-serif;
}

button:hover {
    text-decoration: underline;
    border: 0.2em solid white;
}

button a:hover {
    color: white;
}

.carousel {
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carouselContainer {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carouselItem {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carouselItem img {
    width: 250px;
    height: 250px;
}
.carouselItem:hover ~ .carouselItem {
    transform: translate3d(100px, 0, 0);
}

#quoteContainer {
    font-size: 3em;
    padding-bottom: 1em;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
    background-color: #008C94;
    color: white;
}

.tools h2 {
   padding: 2em;
   font-size: 2em;
}

.iconContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.carousel-item__details:hover {
    opacity: 1;
    color: blue;
}

.iconContainer img {
    width: 10em;
    padding: 2em;
}

#miro {
    width: 9.5em;
}

#trello {
    width: 9.5em;
}

.iconRedondeado {
    border-radius: 8em;
}

footer p {
    font-size: 1.2em;
}

#love {
    width: 0.8em;
}